doctype html
html
  title PUP CpE
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../stylesheets/w3.css')
  link(rel='stylesheet', href='../stylesheets/font1.css')
  link(rel='stylesheet', href='../stylesheets/font2.css')
  style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    body, html {
    height: 100%;
    line-height: 1.8;
    }
    /* Full height image header */
    .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/skul.jpg");
    min-height: 100%;

    }
    .w3-navbar li a {
    padding: 20px;
    float: left;
    }
  script(type="text/javascript", src="/javascripts/jquery-min.js")
  script(type="text/javascript", src="/javascripts/main.js")
  
block content
